mat-label {
    color: #7b1fa2;
    background: white;
    padding: 5px;
  }
  
  mat-form-field:not(:focus-within) .mat-mdc-text-field-wrapper {
    outline: 1px solid #7b1fa2;
    border-radius: 2px;
  }

  .custom-title-padding{
    padding-top: 15px !important;
    text-align: center !important;
  }
  
  mat-form-field input {
    color: black !important;
    width: 50%;
    margin-right: 10px;
  }

  button.mdc-button--raised {
    margin-bottom: 19px !important;
    margin-left: 10px !important;
  }
  
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: white !important;
  }
  
  .mat-mdc-dialog-container .mdc-dialog__title {
    color: #7b1fa2 !important;
  }